<div class="d-flex flex-column">
  <div class="border border-info m-5 p-5 col-9 mx-auto">
    <p>
      <i class="fa-solid fa-hands-clapping fa-lg fa-flip-horizontal" style="color:#007bff"></i>
      <b class="text-primary">目標が設定されました！</b>
      <i class="fa-solid fa-hands-clapping fa-lg" style="color:#007bff"></i>
    </p>
    <p>より具体的な行動に移せるように、<b>中期目標</b>も設定してみてください！</p>
    <p>目標達成までの<b>ステップ</b>を作ることで、「今」何をするべきかが明確になります。</p>
    <p>わからないこと、困ったことが出てきたら、<b>仲間を探して情報交換</b>してみるのもオススメです！</p>
    <p></p><br>
    <p>あなたの目的のために、<span class="text-primary">＼宣誓！／</span>が少しでも力になることができれば幸いです。</p>
  </div>

  <div class="mb-5 col-2 mx-auto">
    <%= link_to 'TOPに戻る', public_root_path, class: 'btn btn-outline-info' %>
  </div>
</div>