<div class="row">
  <div class="col-12 py-4">
    <h4 class="text-info"><%= @user.nickname %>さんのフォロー 一覧</h4>
    <% @users.each do |user| %>
      <div>
        <%= user.nickname %>
      </div>
    <% end %>
  </div>
</div>
