<div class="h5 text-info m-0">進捗カレンダー</div>
<%= month_calendar events: @post do |date, posts| %>
  <%= date.day %>

  <% posts.each do |post| %>
    <div>
      <% if post.present? %>
        <%= link_to public_user_posts_path(@user, date) do %>
          <i class="fa-solid fa-paw" style="color:#007bff"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>

<% end %>