<div class="h5 text-info m-0">進捗カレンダー</div>
<%= month_calendar events: @posts do |date, posts| %>
  <%= date.day %>

  <% posts.each do |post| %>
    <div>
      <% if post.present? %>
        <i class="fa-solid fa-paw" style="color:#007bff"></i>
      <% end %>
    </div>
  <% end %>

<% end %>