<div>
  <h4 class="text-info">User Info</h4>
  <%= link_to public_user_path(current_user) do %>
    <%= image_tag current_user.get_icon_image(40,40), class: 'border rounded-circle' %>
    <b><%= current_user.nickname %></b>
  <% end %>
  <br>
  目標 :

</div>