<%= render partial: 'layouts/fish_line' %>
<div class="d-flex justify-content-center py-3">
  <div class="h3 text-primary">Sorry!</div>
</div>
<div class="d-flex justify-content-center py-3">
  <div class="h5 text-info">退会済みユーザーのため、閲覧できません。</div>
</div>
<%= render partial: 'layouts/fish_line' %>