<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-7 border my-4">
      こんにちは、<%= @current_user.nickname %>さん！<br>
      今日の目標は「▲▲」です。<br>
      一日を振り返って、達成度を投稿しましょう！
    </div>
  </div>


</div>