<div class="row">
  <div class="col-12 py-4">
    <h4 class="text-info"><%= @user.nickname %>さんのフォロー 一覧</h4>
    <% @follows.each do |follow| %>
      <div>
        <%= follow.follower_id %>
      </div>
    <% end %>
  </div>
</div>
