<div class="col-10  my-5 mx-auto">
      <div class="d-flex bd-highlight my-5">
        <div class="bd-highlight col-5 px-0 text-info">
          ニックネーム
        </div>
        <div class="flex-grow-1 bd-highlight h5">
          <%= user.nickname %>
        </div>
      </div>

      <div class="d-flex bd-highlight my-5">
        <div class="bd-highlight col-5 px-0 text-info">
          アイコン画像
        </div>
        <div class="flex-grow-1 bd-highlight ">
          <%= image_tag user.get_icon_image(100,100), class: 'frame-circle' %>
        </div>
      </div>

<%# 下に</div>があることを確認 %>