<% if model.errors.any? %>
   <div class="alert-danger error_message my-0 py-0">
     <ul class="m-0 py-0">
       <% model.errors.full_messages_for(attribute).each do |message| %>
         <li><%= message %></li>
       <% end %>
     </ul>
   </div>
 <% end %>