<div class="d-flex justify-content-around py-5 text-info">
  <div><i class="fa-solid fa-fish fa-lg"></i></div>
  <div><i class="fa-solid fa-fish fa-lg"></i></div>
  <div><i class="fa-solid fa-fish fa-lg"></i></div>
  <div><i class="fa-solid fa-fish fa-lg"></i></div>
  <div><i class="fa-solid fa-fish fa-lg"></i></div>
  <div><i class="fa-solid fa-fish fa-lg"></i></div>
  <div><i class="fa-solid fa-fish fa-lg"></i></div>
  <div><i class="fa-solid fa-fish fa-lg"></i></div>
</div>