<div>
  <h4 class="text-info">User Info</h4>
  <div>
    <%= link_to public_user_path(user) do %>
      <%= image_tag user.get_icon_image(40,40), class: 'border rounded-circle' %>
      <b><%= user.nickname %>さん</b>
    <% end %>
  </div>
  <div class="pt-2">
    目標 :
  </div>
</div>