<div>
  <h4 class="text-info">User Info</h4>
  <div>
    <%= link_to public_user_path(user), class:'link-hover' do %>
      <%= image_tag user.get_icon_image(40,40), class: 'frame-circle' %>
      <b class="link-name"><%= user.nickname %></b>
    <% end %>
    さん
  </div>
  <div class="pt-2">
    <div class="text-info">目標 :　</div>
    <div class="pl-2">
      <% if goal.present? %>
        <%= goal.title %>
      <% else %>
        目標が設定されていません
      <% end %>
    </div>
  </div>
</div>